{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine learning Visualization</title>
</head>
<style type="text/css">
    html, body {
        height: 100%;
        width: 100%
    }
</style>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/three.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/Detector.js' %}" type="text/javascript"></script>
<script src="{% static 'js/TrackballControls.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="https://unpkg.com/vis-network@latest/peer/umd/vis-network.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-data@latest/peer/umd/vis-data.min.js"></script>
<body>
<div id="bigContainer" style="width: 100%; height: 100%">

    <!-- 最上面的一个的一个标题 -->
    <div id="header" style="background-color: blanchedalmond">
        <h1 style="margin-bottom:0;"> Machine learning</h1>
    </div>

    <!-- 左边的深蓝色的框 -->
    <div id="uploadImg" style="background-color: cornflowerblue; width: 25%;height: 100%;float: left;">
        <div>
            <form id="addform">
                <div>
                    <center>
                        Upload an Image
                    </center>
                </div>
                <div>
                    <center>
                        <!-- 三个按钮 Three Buttons -->
                        <input id="picSend" type="button" value="Submit" onclick="xhrSubmit();" disabled="disabled"/>
                        <input id="disNet2D" type="button" value="Display 2D" onclick="display(0)"/>
                        <input id="disNet3D" type="button" value="Display 3D" onclick="display(1)" disabled="disabled"/>
                    </center>
                </div>
                <div>
                    <!-- Upload the Pic 上传图片 -->
                    <input type="file" class="file" name="myfile" id="f1" onchange="disImg(this)"/>
                </div>
                <div>
                    <!-- 预览图片 Preview The Pic -->
                    <center>
                        <img src="" id="preview" style="width: 80%; height: 30%" hidden="true"/>
                    </center>
                </div>
            </form>
        </div>

        <div style="width: 100%; height: 40%">
            <table id="disTable" border="1" cellpadding="0" cellspacing="0" width="100%">
                <tbody id="disTbody">
                <tr id="head">
                    <th width="85%">Name</th>
                    <th width="15%">Rate</th>
                </tr>
                <tr id="nonRecord">
                    <td colspan="10">
                        <center>No Data, Please Upload the Pic!</center>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 这是显示2D效果 和 3D效果的地方 -->
    <div id="displayContainer" style="width: 75%; height: 100%; background-color: aquamarine; float: left">
    </div>

    <!-- 这是最底下的框 -->
    <div id="footer" style="background-color: blanchedalmond; clear: both; text-align: center">The University of
        Adelaide
    </div>

    <!-- 点击节点后 展示出来的暂时结果 -->
    <div id="outerdiv"
         style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
        <div id="innerdiv" style="position:absolute;">
            {#            <img id="bigimg" style="border:5px solid #fff;" src="" />#}
        </div>
    </div>

</div>

<script>

    // TODO: Display the Structure of resNet
    function display(flag) {
        var fd = new FormData(); //Like a form data
        fd.append('name', 'resnet50');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/display/', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                var obj = JSON.parse(xhr.responseText); // 将获取的源代码转化为JSON格式
                console.log(obj);
                if (flag === 1) {
                    {#displayThreeD(obj); //重新渲染3D的区域#}
                    alert("暂时不开放");
                }
                if (flag === 0) {
                    displayJson(obj); // 做成2D的区域
                }
            }
        };
        xhr.send(fd);      // 不能直接发文件对象到后台，但是发 fd 这个对象是可以的
    }

    // TODO: Submit the file into backend
    function xhrSubmit() {
        // 首先用原生的 Ajax 方式来上伟文件
        // $("#f1")[0]     // 后面的索引 0 表示得到的是 DOM 对象
        let file_obj = document.getElementById("f1").files[0];      // 获取到文件对象
        let fd = new FormData();        // 相当于是一个 Form 表单
        fd.append('username', 'michael');  // 这个 fd 对象有一个 append 方法，可以添加字符串，也可以添加对象
        fd.append('f1', file_obj);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload_file/', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                var obj = JSON.parse(xhr.responseText); // 将获取的源代码转化为JSON格式
                disResult(obj); // Display the current result
            }
            ;
        };
        xhr.send(fd);      // 不能直接发文件对象到后台，但是发 fd 这个对象是可以的
    }

    // TODO: To display the result from the Resnet50 in front-end
    function disResult(obj) {
        var i = 0;
        console.log(obj);
        //Get the table
        var disTbody = document.getElementById("disTbody");

        document.getElementById("nonRecord").remove();

        {#console.log(obj[0].label.length)#}

        //Get the data from obj and create a table to display them
        {#console.log(obj[0].label[0] + "%%%%%")#}
        for (i = 0; i < obj[0].label.length; i++) {
            var newLine = document.createElement("tr");
            var newCellForResult = document.createElement("th");
            var newCellForRate = document.createElement("th");

            {#newCellForResult.setAttribute("value", obj[0].label[i]);#}
            newCellForResult.innerText = obj[0].label[i];
            newCellForResult.setAttribute("height", "10%");
            newCellForResult.setAttribute("width", "15%");

            newCellForRate.innerText = ((obj[0].rate[i] + "") * 100).toFixed(2) + "%";
            newCellForRate.setAttribute("width", "10%");
            newCellForRate.setAttribute("height", "10%");

            newLine.appendChild(newCellForResult);
            newLine.appendChild(newCellForRate);

            disTbody.appendChild(newLine);

        }
    }

    // TODO: Display the image in the preview framework
    function disImg(file) {
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("Please Update your Device!");
        }
        var file = file.files[0];
        ;
        var imageType = /^image\//;
        if (!imageType.test(file.type)) {
            alert("Please select an Img");
            return;
        }
        reader.onload = function (e) {
            // alert(e)
            // Get the dom for Img
            var img = document.getElementById("preview");
            img.hidden = false;
            //Set the src is the path of img
            img.src = e.target.result;
            document.getElementById("picSend").disabled = false;
        };
        reader.readAsDataURL(file);
    }

    // TODO: Display the structure of resNet, according to the JSON file (This is for 2D)
    function displayJson(obj) {
        let lengthJSON = getJsonLength(obj);
        let numOfId = 0;
        let bottleFlag = false;
        let doubleLink = true;

        let nodes = new vis.DataSet([]);

        let edges = new vis.DataSet([]);

        for (let i = 0; i < lengthJSON; i++) {
            if (obj[i].length > 10) {
                if (obj[i].search("Conv2d") === 1) {
                    nodes.add({id: numOfId, label: "Conv2d - " + numOfId, shape: 'box'});
                } else if (obj[i].search("MaxPool") === 1) {
                    nodes.add({id: numOfId, label: "MaxPool - " + numOfId, shape: 'box'});
                } else if (obj[i].search("Adaptive") === 1) {
                    nodes.add({id: numOfId, label: "AdaptiveAvgPool2d - " + numOfId, shape: 'box'});
                } else if (obj[i].search("Linear") === 1) {
                    nodes.add({id: numOfId, label: "Linear - " + numOfId, shape: 'box'});
                }
                if (i > 0) {
                    edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                }
                numOfId = numOfId + 1;
            } else {
                for (let j = 0; j < obj[i].length; j++) {
                    for (let k = 0; k < obj[i][j].length; k++) {
                        if (obj[i][j][k].length < 10) {

                            //这一个条件里面的是为了给Downsample用的
                            if (obj[i][j][k][0].search("Conv2d") === 1) {
                                nodes.add({id: numOfId, label: "Conv2d -  neck " + numOfId, shape: 'box'});
                            } else if (obj[i][j][k][0].search("MaxPool") === 1) {
                                nodes.add({id: numOfId, label: "MaxPool -  neck " + numOfId, shape: 'box'});
                            }
                            if (i > 0) {
                                edges.add({
                                    from: (numOfId - obj[i][j].length + 1).toString(),
                                    to: numOfId,
                                    arrows: 'to',
                                    smooth: {enabled: true, type: "curvedCCW", roundness: 1.00}
                                });
                                if (bottleFlag) {

                                    numOfId = numOfId + 1;
                                    nodes.add({id: numOfId, label: "ReLu - " + numOfId});

                                    //这里的两条线是为了完成一个Bottleneck with downsample
                                    edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                                    edges.add({from: (numOfId - 2).toString(), to: numOfId, arrows: 'to'});

                                    bottleFlag = false;
                                }
                            }
                            numOfId = numOfId + 1;

                        } else {

                            //这个条件里面是为了给没有DownSample的排列用的
                            if (obj[i][j][k].search("Conv2d") === 1) {
                                nodes.add({id: numOfId, label: "Conv2d - " + numOfId, shape: 'box'});
                            } else if (obj[i][j][k].search("MaxPool") === 1) {
                                nodes.add({id: numOfId, label: "MaxPool - " + numOfId, shape: 'box'});
                            } else if (obj[i][j][k] === "Bottleneck") {
                                bottleFlag = true;
                                numOfId = numOfId - 1;
                                doubleLink = false;
                            }

                            if (i > 0 && doubleLink) {
                                edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                                if (k === (obj[i][j].length - 1) && bottleFlag) {
                                    {#console.log("长度是： " + obj[i][j].length + "   K is " + k + " numOfId is " + numOfId);#}

                                    numOfId = numOfId + 1;
                                    nodes.add({id: numOfId, label: "ReLu - " + numOfId});

                                    //所有的ReLu必须邀有两条线
                                    edges.add({
                                        from: (numOfId - k - 1).toString(),
                                        to: numOfId,
                                        smooth: {enabled: true, type: "curvedCW", roundness: 1.00},
                                        arrows: 'to'
                                    });
                                    edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                                    bottleFlag = false;
                                }
                            }
                            doubleLink = true;
                            numOfId = numOfId + 1;
                        }
                    }
                }
            }
        }

        let container = document.getElementById("displayContainer");

        let data = {
            nodes: nodes,
            edges: edges
        };

        let options = {
            manipulation: false,
            height: '90%',
            layout: {
                hierarchical: {
                    enabled: true,
                    levelSeparation: 300
                }
            },
            physics: {
                hierarchicalRepulsion: {
                    nodeDistance: 300
                }
            },
            nodes: {
                font: {
                    size: 40
                },
                margin: 10,
                widthConstraint: {
                    minimum: 200
                },
                heightConstraint: {
                    minimum: 70
                }
            }
        };

        let network = new vis.Network(container, data, options);

        network.on('click', function (params) {
            params.event = "[original event]";
            let num = this.getNodeAt(params.pointer.DOM).toString();
            console.log(this.getNodeAt(params.pointer.DOM));

            {#TODO:通过打印出来的数字 去返回相关层的输出 与后台服务器交流 #}
            let fd = new FormData(); //Like a form data

            fd.append('number', num);   //上传点击的层数的数字

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/outputTest/', true);
            let obj;
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    obj = JSON.parse(xhr.responseText); // 将获取的源代码转化为JSON格式
                    console.log(obj);   //检查返回是否成功


                    if (obj === 0) {
                        //使用函数显示res里面的图片
                        imgShow("#outerdiv");
                    } else {
                        console.log("失败了兄弟！！！");
                    }
                }
            };
            xhr.send(fd);
        });

    }

    //TODO: Get the length of data in JSON
    function getJsonLength(jsonData) {
        var length = 0;
        for (var ever in jsonData) {
            length++;
        }
        return length;
    }

    //TODO: Display the pic in outter Div
    function imgShow(outerdiv) {
        var src = "{% static 'res/0.jpg' %}"; //获取当前点击的pimg元素中的src属性
        {#$(bigimg).attr("src", src); //设置#bigimg元素的src属性#}
        var innerdiv = document.getElementById("innerdiv");
        var img = document.createElement("img");
        img.setAttribute("id", "bigimg");
        img.setAttribute("src", src);

        innerdiv.appendChild(img);

        /*获取当前点击图片的真实大小，并显示弹出层及大图*/
        $("<img/>")
            .attr("src", src)
            .on('load', function () {
                var windowW = $(window).width(); //获取当前窗口宽度
                var windowH = $(window).height(); //获取当前窗口高度
                var realWidth = this.width; //获取图片真实宽度
                var realHeight = this.height; //获取图片真实高度
                var imgWidth, imgHeight;
                var scale = 0.8; //缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

                if (realHeight > windowH * scale) { //判断图片高度
                    imgHeight = windowH * scale; //如大于窗口高度，图片高度进行缩放
                    imgWidth = imgHeight / realHeight * realWidth; //等比例缩放宽度
                    if (imgWidth > windowW * scale) { //如宽度扔大于窗口宽度
                        imgWidth = windowW * scale; //再对宽度进行缩放
                    }
                } else if (realWidth > windowW * scale) { //如图片高度合适，判断图片宽度
                    imgWidth = windowW * scale; //如大于窗口宽度，图片宽度进行缩放
                    imgHeight = imgWidth / realWidth * realHeight; //等比例缩放高度
                } else { //如果图片真实高度和宽度都符合要求，高宽不变
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                $(bigimg).css("width", imgWidth); //以最终的宽度对图片缩放

                var w = (windowW - imgWidth) / 2; //计算图片与窗口左边距
                var h = (windowH - imgHeight) / 2; //计算图片与窗口上边距
                $(innerdiv).css({
                    "top": h,
                    "left": w
                }); //设置#innerdiv的top和left属性
                $(outerdiv).fadeIn("fast"); //淡入显示#outerdiv及.pimg
            });

        $(outerdiv).click(function () { //再次点击淡出消失弹出层
            $(bigimg).attr("src", "");
            $(this).fadeOut("fast");
        });
    }


</script>
</body>
</html>