{% load static %}
<html>
<head>
    <title>
        Test JSON
    </title>
</head>
<style type="text/css">
    html, body {
        height: 100%;
        width: 100%
    }

    #diagramContainer {
        width: 100%;
        height: 100%;
    }

</style>
<body>

<div style="width: 100%; height: 10%">
    <input type="button" value="Display2D" onclick="display(0)">
    <input type="button" value="Display3D" onclick="display(1)">
</div>
{#<div id="container" style="width: 90%; height: 90% ;background-color: aquamarine;"></div>#}
<div id="diagramContainer">
    {#    <div id="1" class="item" onclick="getIndex(id)"></div>#}
    {#    <div id="item_right" class="item" style="margin-left:15%;" onclick="getIndex(1)"></div>#}
    {#    <div id="right" class="item" style="margin-left: 30%;" onclick="getIndex(2)"></div>#}
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/tf.min.js' %}"></script>
<script src="{% static 'js/tween.min.js' %}"></script>
<script src="{% static 'js/TrackballControls.js' %}"></script>
<script src="{% static 'js/tensorspace.min.js' %}"></script>
{#<script src="{% static 'springy.js' %}"></script>#}
{#<script src="{% static 'springyui.js' %}"></script>#}
<script type="text/javascript" src="https://unpkg.com/vis-network@latest/peer/umd/vis-network.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-data@latest/peer/umd/vis-data.min.js"></script>

<script>
    function getIndex(index) {
        console.log(index);
    }

    {#TODO: 这个是接受数据进行显示的 暂时有两种解决方案 A: 3D显示 B: 2D显示#}

    function display(flag) {
        var fd = new FormData(); //Like a form data
        fd.append('name', 'resnet50');

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/display/', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                var obj = JSON.parse(xhr.responseText); // 将获取的源代码转化为JSON格式
                {#console.log(obj);#}
                if (flag === 1) {
                    {#updateDisplay(obj);#}
                    displayThreeD(obj);
                }
                if (flag === 0) {
                    {#displayJson(obj); // 做成2D的区域#}
                    updateDisplay(obj);
                }
            }
        };
        xhr.send(fd);      // 不能直接发文件对象到后台，但是发 fd 这个对象是可以的
    }

    {#TODO: 根据接受过来的JSON数据 创建一个2D的场景#}

    function displayJson(obj) {
        let lengthJSON = getJsonLength(obj);
        let numOfId = 0;
        let bottleFlag = false;
        let doubleLink = true;

        var nodes = new vis.DataSet([]);

        var edges = new vis.DataSet([]);

        for (let i = 0; i < lengthJSON; i++) {
            if (obj[i].length > 10) {
                if (obj[i].search("Conv2d") === 1) {
                    nodes.add({id: numOfId, label: "Conv2d - " + numOfId, x: valueOfx, y: valueOfy});
                } else if (obj[i].search("MaxPool") === 1) {
                    nodes.add({id: numOfId, label: "MaxPool - " + numOfId});
                } else if (obj[i].search("Adaptive") === 1) {
                    nodes.add({id: numOfId, label: "AdaptiveAvgPool2d - " + numOfId, x: valueOfx, y: valueOfy});
                } else if (obj[i].search("Linear") === 1) {
                    nodes.add({id: numOfId, label: "Linear - " + numOfId});
                } else if (obj[i].search("ReLu") === 1) {
                    nodes.add({id: numOfId, label: "ReLu - " + numOfId, x: valueOfx, y: valueOfy});
                }
                if (i > 0) {
                    edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                }
                numOfId = numOfId + 1;
                valueOfy = valueOfy + 300;
            } else {
                for (let j = 0; j < obj[i].length; j++) {
                    for (let k = 0; k < obj[i][j].length; k++) {
                        if (obj[i][j][k].length < 10) {
                            tempValueY = valueOfy;
                            valueOfy = valueOfy - 450;
                            valueOfx = valueOfx - 300;

                            //这一个条件里面的是为了给Downsample用的
                            if (obj[i][j][k][0].search("Conv2d") === 1) {
                                nodes.add({id: numOfId, label: "Conv2d -  neck " + numOfId, x: valueOfx, y: valueOfy});
                            } else if (obj[i][j][k][0].search("MaxPool") === 1) {
                                nodes.add({id: numOfId, label: "MaxPool -  neck " + numOfId, x: valueOfx, y: valueOfy});
                            }
                            if (i > 0) {
                                edges.add({
                                    from: (numOfId - obj[i][j].length + 1).toString(),
                                    to: numOfId,
                                    arrows: 'to'
                                });
                                if (bottleFlag) {
                                    valueOfx = 0;
                                    valueOfy = tempValueY + 300;
                                    numOfId = numOfId + 1;
                                    nodes.add({id: numOfId, label: "ReLu - " + numOfId, x: valueOfx, y: valueOfy});

                                    //这里的两条线是为了完成一个Bottleneck with downsample
                                    edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                                    edges.add({from: (numOfId - 2).toString(), to: numOfId, arrows: 'to'});

                                    bottleFlag = false;
                                }
                            }
                            numOfId = numOfId + 1;
                            valueOfy = valueOfy + 300;
                            valueOfx = 0;

                        } else {


                            //这个条件里面是为了给没有DownSample的排列用的
                            if (obj[i][j][k].search("Conv2d") === 1) {
                                nodes.add({id: numOfId, label: "Conv2d - " + numOfId, x: valueOfx, y: valueOfy});
                            } else if (obj[i][j][k].search("MaxPool") === 1) {
                                nodes.add({id: numOfId, label: "MaxPool - " + numOfId, x: valueOfx, y: valueOfy});
                            } else if (obj[i][j][k] === "Bottleneck") {
                                bottleFlag = true;
                                numOfId = numOfId - 1;
                                doubleLink = false;
                            }

                            if (i > 0 && doubleLink) {
                                edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                                if (k === (obj[i][j].length - 1) && bottleFlag) {
                                    {#console.log("长度是： " + obj[i][j].length + "   K is " + k + " numOfId is " + numOfId);#}

                                    numOfId = numOfId + 1;
                                    valueOfy = valueOfy + 300;
                                    nodes.add({id: numOfId, label: "ReLu - " + numOfId, x: valueOfx, y: valueOfy});

                                    //所有的ReLu必须邀有两条线
                                    edges.add({from: (numOfId - k - 1).toString(), to: numOfId, arrows: 'to'});
                                    edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                                    bottleFlag = false;
                                }
                            }
                            doubleLink = true;
                            numOfId = numOfId + 1;
                            valueOfy = valueOfy + 300;
                        }
                    }
                }
            }
        }

        var container = document.getElementById("diagramContainer");

        var data = {
            nodes: nodes,
            edges: edges
        };

        var options = {};
        var network = new vis.Network(container, data, options);

        network.on('click', function (params) {
            params.event = "[original event]";
            let num = this.getNodeAt(params.pointer.DOM).toString();
            console.log(this.getNodeAt(params.pointer.DOM));
            {#TODO:通过打印出来的数字 去返回相关层的输出 与后台服务器交流#}
            var fd = new FormData(); //Like a form data
            fd.append('number', num);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/outputTest/', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    var obj = JSON.parse(xhr.responseText); // 将获取的源代码转化为JSON格式
                    console.log(obj);   //检查返回是否成功
                }
            };
            xhr.send(fd);

        });

        {#network.on("showPopup", function (params) {#}
        {#    console.log(JSON.stringify(params, null, 4));#}
    }

    {#TODO: 获取JSON数组的长度#}

    function getJsonLength(jsonData) {
        var length = 0;
        for (var ever in jsonData) {
            length++;
        }
        return length;
    }

    {#TODO:下面的代码 是为了显示3D效果的#}

    function displayThreeD(obj) {
        let lengthJSON = getJsonLength(obj)
        let container = document.getElementById("diagramContainer");
        let model = new TSP.models.Sequential(container);
        let input = new TSP.layers.GreyscaleInput({
            shape: [28, 28, 1]
        });

        model.add(input);

        for (let i = 0; i < lengthJSON; i++) {
            if (obj[i].length > 10) {
                if (obj[i].search("Conv2d") === 1) {
                    model.add(new TSP.layers.Conv2d({
                        kernelSize: 5,
                        filters: 6,
                        strides: 1,
                        initStatus: "close"
                    }));
                } else if (obj[i].search("MaxPool") === 1) {
                    model.add(new TSP.layers.Padding2d({
                        padding: [2, 2],
                    }));
                } else if (obj[i].search("Adaptive") === 1) {
                    {#nodes.add({id: numOfId , label: "AdaptiveAvgPool2d - " + numOfId});#}

                } else if (obj[i].search("Linear") === 1) {
                    {#nodes.add({id: numOfId , label: "Linear - " + numOfId});#}

                }
            } else {
                for (let j = 0; j < obj[i].length; j++) {
                    for (let k = 0; k < obj[i][j].length; k++) {
                        if (obj[i][j][k].length < 10) {
                            if (obj[i][j][k][0].search("Conv2d") === 1) {
                                model.add(new TSP.layers.Conv2d({
                                    kernelSize: 5,
                                    filters: 6,
                                    strides: 1,
                                    initStatus: "close"
                                }));
                            } else if (obj[i][j][k][0].search("MaxPool") === 1) {
                                model.add(new TSP.layers.Padding2d({
                                    padding: [2, 2],
                                }));
                            }
                        } else {
                            if (obj[i][j][k].search("Conv2d") === 1) {
                                model.add(new TSP.layers.Conv2d({
                                    kernelSize: 5,
                                    filters: 6,
                                    strides: 1,
                                    initStatus: "close"
                                }));
                            } else if (obj[i][j][k].search("MaxPool") === 1) {
                                model.add(new TSP.layers.Padding2d({
                                    padding: [2, 2],
                                }));
                            }
                        }
                    }
                }
            }
        }

        {#model.add( new TSP.layers.Padding2d({#}
        {#  padding: [2, 2],#}

        {#model.add( new TSP.layers.Conv2d({#}
        {#  kernelSize: 5,#}
        {#  filters: 6,#}
        {#  strides: 1,#}
        {#  initStatus: "open"#}

        {#model.add( new TSP.layers.Pooling2d({#}
        {#  poolSize: [2, 2],#}
        {#  strides: [2, 2]#}

        {#model.add( new TSP.layers.Conv2d({#}
        {#  kernelSize: 5,#}
        {#  filters: 16,#}
        {#  strides: 1#}

        {#model.add( new TSP.layers.Pooling2d({#}
        {#  poolSize: [2, 2],#}
        {#  strides: [2, 2]#}

        {#model.add( new TSP.layers.Dense({#}
        {#  units: 120#}

        {#model.add( new TSP.layers.Dense({#}
        {#  units: 84,#}

        model.add(new TSP.layers.Output1d({
            units: 1000,
            {#outputs: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]#}
        }));
        model.init();

    }

    {#TODO: 使用显示2D的模型 升级版本#}

    //为network定义一个全局变量
    let network;

    //这个nodes 和 edges是为最上层的layers
    let nodes = new vis.DataSet([]);
    let edges = new vis.DataSet([]);

    let nodeSet = [];   //这个是用来存点集的
    let edgeSet = [];   //这个用来存线集的
    let special = [];   //存放特殊的elements

    let options = {
        height: '90%',
        layout: {
            hierarchical: {
                enabled: true,
                levelSeparation: 400,
                nodeSpacing: 300,
            },
        },
        physics: {
            hierarchicalRepulsion: {
                nodeDistance: 400
            }
        },
        nodes: {
            font: {
                size: 40
            },
            margin: 10,
            widthConstraint: {
                minimum: 200
            },
            heightConstraint: {
                minimum: 70
            }
        }
    };

    let container = document.getElementById("diagramContainer");

    function updateDisplay(obj) {
        try {
            network.destroy();
        } catch {
            console.log("No netWork now !!!");
        }

        let lengthJSON = getJsonLength(obj);
        let numOfId = 0;
        let layersID = 0;

        //这个标记是为了记住 这个元素是不是应该连接上一层的layers
        let connectFlag = true;


        if (nodes.length === 0) {
            for (let i = 0; i < lengthJSON; i++) {
                if (obj[i].length > 10) {
                    if (obj[i].search("Conv2d") === 1) {
                        nodes.add({id: numOfId, label: "Conv2d - " + numOfId,});
                    } else if (obj[i].search("MaxPool") === 1) {
                        nodes.add({id: numOfId, label: "MaxPool - " + numOfId});
                    } else if (obj[i].search("Adaptive") === 1) {
                        nodes.add({id: numOfId, label: "AdaptiveAvgPool2d - " + numOfId,});
                    } else if (obj[i].search("Linear") === 1) {
                        nodes.add({id: numOfId, label: "Linear - " + numOfId,});
                    } else if (obj[i].search("ReLu") === 1) {
                        nodes.add({id: numOfId, label: "ReLu - " + numOfId,});
                    }
                    if (i > 0) {
                        if (layersID > 0) {
                            edges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});
                        } else {
                            edges.add({from: (layersID).toString(), to: numOfId, arrows: 'to'});
                            layersID = layersID * (-1);
                        }
                    }
                    numOfId = numOfId + 1;
                } else {
                    if (layersID > 0) {
                        layersID = layersID * (-1);
                    }

                    layersID = layersID - 1;
                    nodes.add({id: layersID, label: "Layers - " + (layersID * -1),});

                    if (layersID === -1) {
                        edges.add({from: (numOfId - 1).toString(), to: layersID, arrows: 'to'});
                    } else {
                        edges.add({from: (layersID + 1).toString(), to: layersID, arrows: 'to',});
                    }

                    let tempNode = {};
                    tempNode['layersID'] = layersID;
                    tempNode['id'] = layersID;
                    tempNode['label'] = "Layers - " + (layersID * -1).toString();
                    nodeSet.push(tempNode);

                    //告诉后面的连接这个是必须和上一层的layer连接的
                    connectFlag = true;

                    for (let j = 0; j < obj[i].length; j++) {
                        for (let k = 0; k < obj[i][j].length; k++) {

                            if (obj[i][j][k].length < 10) {

                                //这一个条件里面的是为了给Downsample用的
                                if (obj[i][j][k][0].search("Conv2d") === 1) {
                                    {#tempNodes.add({id: numOfId, label: "Conv2d -  neck " + numOfId});#}

                                    let tempNodes = {};
                                    tempNodes['layersID'] = layersID;
                                    tempNodes['id'] = numOfId;
                                    tempNodes['label'] = "Conv2d -  neck " + numOfId;
                                    nodeSet.push(tempNodes);
                                    special.push(numOfId);

                                } else if (obj[i][j][k][0].search("MaxPool") === 1) {
                                    {#tempNodes.add({id: numOfId, label: "MaxPool -  neck " + numOfId});#}

                                    let tempNodes = {};
                                    tempNodes['layersID'] = layersID;
                                    tempNodes['id'] = numOfId;
                                    tempNodes['label'] = "MaxPool -  neck " + numOfId;
                                    nodeSet.push(tempNodes);

                                }
                                if (i > 0) {
                                    {#tempEdges.add({from: layersID.toString(), to: numOfId, arrows: 'to'});#}

                                    let tempEdges = {};
                                    tempEdges['layersID'] = layersID;
                                    tempEdges['from'] = layersID.toString();
                                    tempEdges['to'] = numOfId;
                                    {#tempEdges['type'] = "curvedCCW";#}
                                    tempEdges['type'] = "";
                                    edgeSet.push(tempEdges);

                                    if (bottleFlag) {
                                        numOfId = numOfId + 1;
                                        {#tempNodes.add({id: numOfId, label: "ReLu - " + numOfId,});#}

                                        let tempNodes = {};
                                        tempNodes['layersID'] = layersID;
                                        tempNodes['id'] = numOfId;
                                        tempNodes['label'] = "ReLu - " + numOfId;
                                        nodeSet.push(tempNodes);

                                        //这里的两条线是为了完成一个Bottleneck with downsample
                                        {#tempEdges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});#}
                                        {#tempEdges.add({from: (numOfId - 2).toString(), to: numOfId, arrows: 'to'});#}

                                        let tempEdges1 = {};
                                        tempEdges1['layersID'] = layersID;
                                        tempEdges1['from'] = (numOfId - 1).toString();
                                        tempEdges1['to'] = numOfId;
                                        tempEdges1['type'] = "";
                                        {#tempEdges1['type'] = "curvedCCW";#}

                                        edgeSet.push(tempEdges1);

                                        let tempEdges = {};
                                        tempEdges['layersID'] = layersID;
                                        tempEdges['from'] = (numOfId - 2).toString();
                                        tempEdges['to'] = numOfId;
                                        tempEdges['type'] = "";
                                        edgeSet.push(tempEdges);

                                        bottleFlag = false;
                                    }
                                }
                                numOfId = numOfId + 1;

                            } else {

                                //这个条件里面是为了给没有DownSample的排列用的
                                if (obj[i][j][k].search("Conv2d") === 1) {
                                    {#tempNodes.add({id: numOfId, label: "Conv2d - " + numOfId});#}

                                    let tempNodes = {};
                                    tempNodes['layersID'] = layersID;
                                    tempNodes['id'] = numOfId;
                                    tempNodes['label'] = "Conv2d - " + numOfId;
                                    nodeSet.push(tempNodes);

                                } else if (obj[i][j][k].search("MaxPool") === 1) {
                                    {#tempNodes.add({id: numOfId, label: "MaxPool - " + numOfId});#}

                                    let tempNodes = {};
                                    tempNodes['layersID'] = layersID;
                                    tempNodes['id'] = numOfId;
                                    tempNodes['label'] = "MaxPool - " + numOfId;
                                    nodeSet.push(tempNodes);

                                } else if (obj[i][j][k] === "Bottleneck") {
                                    bottleFlag = true;
                                    numOfId = numOfId - 1;
                                    doubleLink = false;
                                }

                                if (i > 0 && doubleLink) {
                                    if (connectFlag) {
                                        {#tempEdges.add({from: layersID.toString(), to: numOfId, arrows: 'to'});#}

                                        let tempEdges = {};
                                        tempEdges['layersID'] = layersID;
                                        tempEdges['from'] = layersID.toString();
                                        tempEdges['to'] = numOfId;
                                        tempEdges['type'] = "";
                                        edgeSet.push(tempEdges);

                                    } else {
                                        {#tempEdges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});#}

                                        let tempEdges = {};
                                        tempEdges['layersID'] = layersID;
                                        tempEdges['from'] = (numOfId - 1).toString();
                                        tempEdges['to'] = numOfId;
                                        tempEdges['type'] = "";
                                        edgeSet.push(tempEdges);
                                    }
                                    connectFlag = false;
                                    if (k === (obj[i][j].length - 1) && bottleFlag) {
                                        {#console.log("长度是： " + obj[i][j].length + "   K is " + k + " numOfId is " + numOfId);#}

                                        numOfId = numOfId + 1;
                                        {#tempNodes.add({id: numOfId, label: "ReLu - " + numOfId,});#}

                                        let tempNodes = {};
                                        tempNodes['layersID'] = layersID;
                                        tempNodes['id'] = numOfId;
                                        tempNodes['label'] = "ReLu - " + numOfId;
                                        nodeSet.push(tempNodes);

                                        //所有的ReLu必须邀有两条线
                                        {#tempEdges.add({from: layersID.toString(), to: numOfId, arrows: 'to'});#}

                                        let tempEdges = {};
                                        tempEdges['layersID'] = layersID;
                                        tempEdges['from'] = (numOfId - k - 1).toString();
                                        tempEdges['to'] = numOfId;
                                        tempEdges['type'] = "curvedCW";
                                        edgeSet.push(tempEdges);

                                        {#tempEdges.add({from: (numOfId - 1).toString(), to: numOfId, arrows: 'to'});#}

                                        let tempEdges1 = {};
                                        tempEdges1['layersID'] = layersID;
                                        tempEdges1['from'] = (numOfId - 1).toString();
                                        tempEdges1['to'] = numOfId;
                                        tempEdges1['type'] = "";
                                        edgeSet.push(tempEdges1);

                                        bottleFlag = false;
                                    }
                                }
                                doubleLink = true;
                                numOfId = numOfId + 1;
                            }
                        }
                    }
                }
            }
        }

        createFirst();

    }

    function createFirst() {

        let data = {
            nodes: nodes,
            edges: edges
        };

        network = new vis.Network(container, data, options);

        network.on('click', function (params) {
            params.event = "[original event]";
            let num = this.getNodeAt(params.pointer.DOM).toString();
            if (num < 0) {
                this.destroy();
                createSecond(num);
            } else {
                // 当这个是Elements的时候
                console.log(num);
            }
        });

    }

    function createSecond(num) {
        let tempNodes = new vis.DataSet([]);
        let tempEdges = new vis.DataSet([]);
        let firstFlag = true;
        let lastValue = 0;

        for (let i = 0; i < nodeSet.length; i++) {
            if (nodeSet[i].layersID.toString() === num) {
                if (firstFlag) {
                    tempNodes.add({id: "previous", label: "Previous Layers..."});
                    tempEdges.add({from: "previous", to: nodeSet[i].id, arrows: 'to'});
                    firstFlag = false;
                }

                tempNodes.add({id: nodeSet[i].id, label: nodeSet[i].label});
                lastValue = i;
            }
        }

        for (let i = 0; i < edgeSet.length; i++) {
            if (edgeSet[i].layersID.toString() === num) {
                console.log(edgeSet[i].type + ">>>>" + i);
                tempEdges.add({
                    from: edgeSet[i].from,
                    to: edgeSet[i].to,
                    arrows: 'to',
                    smooth: {
                        enabled: true,
                        type: edgeSet[i].type,
                        roundness: edgeSet[i].type.length > 0 ? 0.3 : 0,
                    }
                });
            }
        }

        tempNodes.add({id: "next", label: "Next Layers..."});
        tempEdges.add({from: nodeSet[lastValue].id, to: "next", arrows: 'to'});

        let data = {
            nodes: tempNodes,
            edges: tempEdges,
        };

        network = new vis.Network(container, data, options);

        //Change the position for special elements
        let i = num * (-1) - 1;
        network.moveNode(special[i], network.getPosition(special[i] - 2)['x'] - 600, network.getPosition(special[i] - 2)['y']);

        network.on('click', function (params) {
            params.event = "[original event]";
            let num = this.getNodeAt(params.pointer.DOM).toString();
            if (num > 0) {
                console.log(num);
            } else {
                updateDisplay();
            }
        });

    }

</script>

</body>

</html>